* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 0.5px solid pink; */
}

body {
    font-family: sans-serif;
    font-size: 16px;
    position: relative;
    display: flex;
}

main {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.main-hover-state {
    background-color: rgba(0, 0, 0, 0.1);
}

button,
input,
select,
textarea {
    font-family: inherit;
}

.add-books-prompt {
    position: fixed;
    top: 50%;
    font-size: 36px;
    font-weight: bold;
    width: 500px;
    height: 500px;
    text-align: center;
    opacity: 0;
}

.add-books-prompt-hover {
    opacity: 0.35;
}

/*FORM CONTAINER*/

.form-div-container {
    background-color: rgb(255, 255, 255);
    display: none;
    justify-content: center;
    padding: 30px 10px;
    border-radius: 12px;
    position: absolute;
    align-self: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 80%;
    min-width: 500px;
    height: 700px;
}

/* MAKES FORM CONTAINER DISAPPEAR */

#main-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

fieldset {
    width: 100%;
    border: none;
}

.close-form {
    color: rgb(219, 219, 219);
    font-weight: 1000;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 15px;
}

.close-form:hover {
    color: rgb(255, 38, 0);
    cursor: pointer;
}

.book-input-containers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 300px;
}

.book-input-label {
    align-self: center;
    margin-bottom: 3px;
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 28px;
    text-align: center;
}

.book-input {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    text-align: center;
    outline: 1px solid black;
    border-radius: 12px;
    width: 300px;
}

.book-read-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.read-container {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.book-read-container input {
    width: 100px;
    background-color: rgb(134, 154, 255);
    color: rgb(0, 0, 0);
    margin-top: 8px;
    padding: 3px 6px;
    border: none;
    font-weight: 800;
}

.book-read-container input:hover {
    background-color: rgb(15, 23, 65);
    color: rgb(219, 219, 219);
}

.book-read-container input:focus {
    background-color: rgb(15, 23, 65);
    color: rgb(219, 219, 219);
    border: 3px solid rgb(219, 219, 219);
    padding: 0px 3px;
}

.book-read-container label {
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 800;
}

.submission-button {
    padding: 0 10px;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 4px 30px;
    border: none;
    border: 1px solid black;
}

.submission-button:hover {
    background-color: black;
    color: white;
}

.form-contents-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 900px;
    align-items: center;
}

.search-results-container {
    height: 90%;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: 40px;
    justify-content: center;
    width: 90%;
}

.search-book-info-container {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    width: 140px;
    height: 200px;
}

.search-result-title {
    text-align: center;
    font-weight: 700;
}

.search-result-description {
    display: none;
}

.search-result-pageCount {
    display: none;
}

.search-result-cover {
    border-radius: 5px;
    border: 2px solid black;
    transition: transform 0.2s ease-out 0.05s;
}

.search-result-cover:hover {
    transform: scale(1.1, 1.1);
}

.search-results-navigation {
    display: none;
    gap: 10px;
    font-size: 2rem;
}
/*////////////////*/

/* SIDEBAR */

aside {
    background-color: #1f1f56;
    height: 100vh;
    width: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 1px 1px 10px rgb(228, 228, 228);
    z-index: 1; */
    position: relative;
}

.blueberry-logo {
    width: 100px;
    height: 100px;
    transition: transform 0.2s ease-out 0.05s;
}

.blueberry-logo:hover {
    transform: scale(1.1, 1.1);
}

.logo-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
}

.LiBerry-title-main {
    color: rgb(255, 255, 255);
}

.add-remove-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 40px;
}

aside button {
    border: none;
    background-color: rgb(252, 253, 255);
    color: rgb(11, 10, 12);
    padding: 10px 50px;
    font-size: 1.5rem;
    font-weight: 800;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.15s ease-out, color 0.15s ease-out;
}

aside button:hover {
    background-color: rgb(15, 23, 65);
    color: rgb(219, 219, 219);
}

/* CARD */

.card {
    background-color: rgb(181, 193, 255);
    width: 220px;
    height: 270px;
    border-radius: 12px;
    box-shadow: 1px 1px 8px 0.1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#card-container {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 25px;
    margin-top: 25px;
}

.card-subcontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.delete-card-button {
    position: absolute;
    top: 10px;
    right: 12px;
    border: none;
    background-color: unset;
    font-size: 1.5rem;
    font-weight: 1000;
    color: rgb(80, 80, 80);
    display: none;
}

.delete-card-button:hover {
    top: 8px;
    color: rgb(255, 0, 0);
    font-size: 1.7rem;
    cursor: pointer;
}

.title {
    font-size: 24px;
}

.card-subcontainer p {
    font-weight: 800;
}
